#headerTitle {
    text-align: center;
    font-size: 2em;
    color: #ee0033;
  }

#studentTable {
    width: 100%;
    border-collapse: collapse;
  }
  
#studentTable th, #studentTable td {
border: 1px solid #ddd;
padding: 8px;
}

#studentTable tr:nth-child(even){background-color: #f2f2f2;}

#studentTable tr:hover {background-color: #ddd;}

#studentTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ee0033;
  color: white;
  font-weight: bold;
}

#studentTable td {
  text-align: center;
  vertical-align: middle;
}